[submodule "backend"]
	path = backend
	url = git@github.com:Kwizera250232/Teacher-s-App-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:Kwizera250232/Teacher-s-App-frontent.git
